[2020-02-17 11:18] wm75 opened #7 "MCRA workflow requires unspecified user input"
The current workflow version at https://github.com/galaxyproject/SARS-CoV-2/blob/master/MCRA/Galaxy-Workflow-MCRA.ga (and also the one on usegalaxy.org) won't run with just the accession and dates file as described, but ask to specify a `List of fields` for Step 4: Cut

It's not obvious what to set there.

[2020-02-17 15:31] wm75 opened #8 "Explain outputs and choice of tree in MCRA analysis"
1. The MCRA README has an empty Outputs section

    With the rather large number of datasets produced by IQ-TREE, an overview about what to expect would be nice. BTW, why is the consensus tree dataset empty?

2. I think it would be good to add a short rationale why the ipynb uses iqtree's BIONJ tree for further analysis, and not the MaxLikelihood tree. To me, at least, that seems like a surprisin

[2020-02-17 16:33] nekrut commented on #7
do not use this workflow. Use https://usegalaxy.org/u/aun1/w/mcra

[2020-02-17 16:33] nekrut commented on #7
In fact, the ga file should be deleted from the repo

[2020-02-17 16:34] nekrut commented on #8
I will edit the README.md for clarity. Thank you for noticing all of this

[2020-02-17 16:34] #7 closed

[2020-02-17 16:39] wm75 commented on #7
Yeah, tried also with the one on .org, but it has the same issue.
It's really just that you have to put in a `1` as a param for the Cut tool, but it's undocumented and probably confusing for someone new to Galaxy. Should be preset in the workflow.

[2020-02-17 16:46] wm75 opened #10 "Should variation analysis build on preprocessing?"
My naive expectation was that I could use the output of the preprocessing workflow (at least the Illumina parts of it) as input to the variation analysis workflow, but this doesn't seem to be the case.

The public history seems to use input Illumina data that has been preprocessed (the stdout contains corresponding info), but it's unclear how exactly.

Is it possible to adjust the workflows to mak

[2020-02-17 17:24] nekrut commented on #10
It does build on postprocessing. It takes reads after `fastp`. We can certainly do it that way. Do you have an idea?

[2020-02-17 17:29] nekrut opened #11 "Add EU icon to readme"

[2020-02-17 22:04] nekrut opened #15 "Alignment section needs editing"

[2020-02-17 22:07] wm75 opened #16 "Recombination workflow link needs fixing"
The link in
https://github.com/galaxyproject/SARS-CoV-2/blob/master/Recombination/README.md#history-and-workflow

points to a history instead of to a workflow.

[2020-02-17 22:36] wm75 opened #18 "Incompatibility between Pre-processing and Assembly wfs"
Assembly is supposed to start with the pre-processing output, but @nekrut's assembly history shows that the input files there have been generated with Picard sam_to_fastq, while the pre-processing wf ends with `samtools fastx`.

In fact, when you try to combine the two workflows, you're getting a Unicycler error (at least on EU):
`Error: the paired read input files have an unequal number of reads`

[2020-02-18 14:05] #11 closed

[2020-02-19 13:44] nekrut commented on #8
@wm75 you are correct. It should be ML output. I'll change the workflow and close the issue once done.

[2020-02-19 15:47] wm75 commented on #18
Upon closer inspection, I think the fix for this would be in Step 13 of Pre-processing, the`Filter SAM or BAM` step of the mapped Illumina data:
under **Only output alignments with all of these flag bits set**, you would have to check not only *The read is unmapped*, but also *The mate is unmapped* => discarding whole read pairs if even only one of their ends maps to hg38. (`samtools fastx` relies

[2020-02-20 09:16] wm75 commented on #18
Test on usegalaxy.eu was successful (https://usegalaxy.eu/u/wolfgang-maier/h/preprocessingassembly). Assembled contig lengths are the same after the modification.

So what's left to do is:

- add the _The mate is unmapped_ checkbox selection to **Only output alignments with all of these flag bits set** of Step 13 of the public Pre-processing workflow on main
- regenerate the public histories for p

[2020-02-20 13:57] wm75 commented on #10
I have two alternative ideas::

1. The simple one:
    - just don't hide the fastp collection during the pre-processing workflow
    - mention it as one of the workflow outputs in the pre-processing README
    - mention it as input to the variation workflow in the variation README

    In other words, just clarify the current analysis flow.

2. Base the analysis of variation on the same non-human

[2020-02-20 17:20] nekrut commented on #18
fixed workflow and rerunning history:
correct workflow: https://usegalaxy.org/u/aun1/w/covid-19-pre-pp
correct history: https://usegalaxy.org/u/aun1/h/covid-19-pre-processing

[2020-02-20 17:20] #18 closed

[2020-02-20 17:22] nekrut commented on #10
I went with idea 1:

I have pointer from pre-processing
I "unhid" fastp output in pre-processing workflow
I will add explanation to variation section

[2020-02-20 17:22] #10 closed

[2020-02-20 18:59] bgruening opened #21 "Fix links for the workflow badges for every instance"
* [x] usegalaxy.org
* [ ] usegalaxy.org.au
* [x] usegalaxy.eu

[2020-02-21 03:50] nekrut commented on #16
this is now fixed

[2020-02-21 03:50] #16 closed

[2020-02-21 03:50] #15 closed

[2020-02-21 03:51] nekrut commented on #8
This workflow now uses fasttree instead of iq-tree, which is an overkill for this particular scenario

[2020-02-21 03:51] #8 closed

[2020-02-21 09:49] wm75 opened #24 "Should we rename MCRA to MRCA?"
Unfortunately, I did not have time to read up on the question of which is the right acronym for *most recent common ancestor* analysis before, but from a bit of research now **MRCA** seems to be in *much* wider use (and also makes more sense). Whenever you find *MCRA* it looks more like a typo on pages that also use *MRCA*.

It would require a bit of effort though to change all occurrences of MCRA

[2020-02-21 10:01] wm75 opened #25 "Do we want workflow .ga files as part of the repo?"
Pro:
- each repo release and accompanying zenodo snapshot would have an unchangeable workflow file in it, which is certainly a big plus for reproducibilty
- at least with pretty-printed json .ga files we gain some rudimentary diffing of workflow versions

Con:
- extra work to keep repo versions and published workflow versions on Galaxy instances in sync

[2020-02-21 12:22] nekrut commented on #24
yes

[2020-02-21 12:24] nekrut commented on #25
i have no feelings here, we can but it is a maintenance burden

[2020-02-21 13:57] #24 closed

[2020-02-21 13:58] bgruening commented on #25
Let's keep the out for now? We do have links on every page ...

[2020-02-21 14:00] wm75 commented on #25
ok for me

[2020-02-21 14:00] #25 closed

[2020-02-21 16:23] wm75 opened #29 "Add a short description of how to use the jupyter notebooks with Galaxy"

[2020-02-23 02:55] lynnlangit commented on #29
I could complete this task - however, would it be faster to just link these instructions? https://galaxyproject.github.io/training-material/topics/galaxy-ui/tutorials/galaxy-intro-jupyter/tutorial.html#open-a-notebook

LMK and I'll proceed if needed

[2020-02-23 11:04] bgruening commented on #29
@nekrut do we use IEs or ITs?
@lynnlangit thanks a lot. On EU we are using the newer Interactive Tools, they behave the same but are tools and can be started like tools. E.g. from live.usegalaxy.eu

[2020-02-23 15:50] nekrut commented on #29
Unfortunately we are still using IEs -> @jmchilton and @natefoo are prepping for proper IT release on main, but it will take a month or so

[2020-02-24 17:06] lynnlangit commented on #29
Is my PR sufficient here? If not, I can write a one-paragraph explanation.  LMK

[2020-02-25 10:58] bgruening commented on #29
@lynnlangit I think so. If I get some time I would like to add some more information about the Interactive Tools. But I don't think this is crucial atm.

Thanks Lynn!

P.S. Do you have any other feedback for us?

[2020-02-27 23:06] lynnlangit commented on #29
@bgruening - I employ a number of graduate students, would it be useful to have them test these workflows to make sure they can replicate the workflows?  If so, we can do that and provide feedback on any small documentation changes or possible omissions/errors in the workflows - LMK

[2020-02-28 12:35] bgruening commented on #29
Oh my gosh, this sounds terrific! @lynnlangit please do so! Any feedback is welcome and if you students learn something from this even better. This sounds awesome!

I actually wanted to write some [training material](https://training.galaxyproject.org/) for those workflows. But we haven't got time so far. If someone of your students is motivated to help writing some training material for it, let m

[2020-03-09 19:57] lynnlangit commented on #29
@bgruening ok - if my team tests and tries to write training, where should we put it?  do you want to make a folder on this repo and we can just PR to that location?  LMK

[2020-03-12 11:43] saramonzon opened #45 "Little question about the datasets you used"
Hello there!
Great repo, it's being really useful!
One question though, we are downloading all raw data available at SRA, specially the project PRJNA607948, which provides sequences for both ONT and Illumina using SISPA protocol.
We are finding splitted R1 and R2 files with different number of reads when we download them with fastq-dump. Have you faced this problem? I've seen you have them marked

[2020-03-12 12:20] saramonzon commented on #45
We have tried the download with fasterq-dump and now the R1 and R2 reads are even!! We still not get the exact number than the one reported by the authors but we can live with that.
But in case someone has this problem, you have to use sratools >= 2.9

Thanks!

[2020-03-14 14:44] jgehrcke opened #48 "Is "COVID-19 genome" a correct description?"
The repo README contains "COVID-19 genome".

As far as I understand "COVID-19" is the name for the disease. Should this be `SARS-CoV-2` genome instead?

[2020-03-15 18:33] bgruening commented on #29
Thanks, I lost my laptop, but should be back again, let me know when you have any problems!

[2020-03-16 06:40] nathanhaigh opened #49 "Missing Indels"
My own analysis of Illumina (`SRR11140750`, top track) and nanopre (`SRR11140751`, bottom track) data from the same swab sample shows your variant analysis doesn't include indels:

![image](https://user-images.githubusercontent.com/2037575/76729346-df7e8980-67a8-11ea-82fc-6edd3b857f5f.png)

You probably should include `--call-indels` in your call to `lofreq call`

[2020-03-16 09:23] nathanhaigh commented on #45
When using `fastq-dump` you should include the `--split-3` option to put unpaired/orphaned reads into a separate file. Without it, you will have unpaired reads spread throughout your FASTQ files.

For example:

[code]

[2020-03-16 20:50] bgruening commented on #45
@saramonzon you can also look at our workflows. We have also prepared histories with already downloaded datasets. See here: https://covid19.galaxyproject.org/1-PreProcessing/#alternate-workflow

[2020-03-16 20:52] nekrut commented on #49
what is your protocol?

[2020-03-16 23:10] nathanhaigh commented on #49
For these mappings, it's simply `bwa mem` for the short reads and `minimap2` for the nanopore reads.

Given the small size of the genome, I just eye-balled possible variants and saw this. Then realised you don't call indels in your variant analysis.

[2020-03-16 23:18] nathanhaigh commented on #49
Perhaps you are already calling variants. However, they are missing from these outputs: https://github.com/galaxyproject/SARS-CoV-2/tree/master/4-Variation#outputs

[2020-03-17 09:51] saramonzon commented on #45
Thank you very much! Happy to see that using --split-3 also does the work! We have already analyzed the data and we are exploring it at the moment!
Thanks for the resources!

[2020-03-19 07:49] bgruening commented on #29
@lynnlangit can we help in any way? We got many requests for training material. We also created a Docker container with everything included: https://covid19.galaxyproject.org/deploy/#docker

[2020-03-19 09:54] bedroesb commented on #29
@lynnlangit I will set up the backbone for these tutorials on the Galaxy Training Network, it will than be easy to contribute to them
.

[2020-03-19 10:51] bgruening commented on #29
ping @wm75 ...

[2020-03-19 18:25] ssb22 commented on #48
Or `SARS-CoV-2 genome that causes COVID-19` so it can be searched using both keywords?

[2020-03-19 18:25] ssb22 commented on #48
Or `SARS-CoV-2 genome that causes COVID-19` so it can be searched using both keywords?

[2020-03-19 18:28] bgruening commented on #48
@ssb22 I like that. Does anyone of you want to make this change or should I? You get then listed as committer :)

[2020-03-19 18:32] ssb22 commented on #48
Sorry I accidentally deleted my comment due to browser issues.  I suggested `SARS-CoV-2 genome that causes COVID-19` so it can be searched on both keywords, but come to think of it `COVID-19` is mentioned in reasonable proximity anyway so we might as well keep the link briefer by saying `SARS-CoV-2 genome`.  I've submitted a pull request.

[2020-03-19 19:28] #48 closed

[2020-03-19 19:29] bgruening commented on #48
Thanks both for the catch!

[2020-03-19 19:41] jgehrcke commented on #48
Collaboration can be really cool. Thanks :)

[2020-03-20 17:14] #45 closed

[2020-03-20 19:38] Harrystark99 commented on #21
Fixed the links, opening a pull request

[2020-03-20 22:12] nekrut opened #63 "Better cover page"
@bgruening we need to update front README wit summary of main findings. I'll do genomics part over the weekend. I want to prepare new release by Monday morning EU time.

[2020-03-20 22:20] bgruening commented on #63
Ok, I will follow! :) Have a great weekend!

[2020-03-20 22:33] dannon commented on #63
I worked on this a bit today actually; I can open a branch with the structure and work in any text you guys come up with

[2020-03-21 12:51] wm75 commented on #49
The current workflow fails to call indels because it does not use lofreq indelqual to add indel qualities to the mapped reads first. Without those lofreq call skips indels even when the `--call-indels` option is in use (which is the case already).

@nekrut are you interested in having indels get called and do want to update the workflow accordingly yourself?

[2020-03-21 14:24] jxtx commented on #63
Can we have the side bar even on the cover page? The content is a bit hidden on first load.

[2020-03-22 21:41] dhoconno opened #66 "Docker image doesn't appear to contain hg38"
Started Docker image as per:

https://covid19.galaxyproject.org/genomics/

with:

[code]

The initial workflow `1 - read pre-processing` won't run because minimap2 expects genome build, but can't find one. The error is: `Parameter ref_file requires a value, but has no legal values defined.`

Is hg38 included in the Docker image?

Thanks,

dave

[2020-03-22 21:56] bedroesb commented on #66
@dhoconno thank you for pointing out this issue. The hg38 Genome is not included. I will tomorrow look into it and let you know when this is solved.

[2020-03-23 07:24] bgruening commented on #66
@dhoconno can you start the container with `--privileged` and see if you see the reference data?

[2020-03-23 11:49] nekrut commented on #63
@bgruening I meant the **main findings** not main funding.

[2020-03-23 11:52] bgruening commented on #63
Lol, ok this is different. @dannon wanted also to work on some new layout. @nekrut any idea for a Genomic-image ... we could have two big images that will bring us to both projects.

[2020-03-23 12:24] dannon commented on #63
Yeah, I didn't have a chance to get it done over the weekend, but something like this is what I'm working towards:
![image](https://user-images.githubusercontent.com/155398/77316409-c2354800-6cdf-11ea-9868-85d03a935936.png)

[2020-03-23 17:20] bedroesb commented on #66
@dhoconno Could you try to rerun the analyses on this container image: quay.io/galaxy/covid-19-training:hg38 ?

[2020-03-23 18:27] dannon commented on #63
https://github.com/galaxyproject/SARS-CoV-2/pull/68 should close this out, swapping the cover page from a 'docs' style page to a wider layout with better styling.

[2020-03-23 18:27] #63 closed

[2020-03-24 19:29] Harrystark99 commented on #21
@bgruening  This issue is fixed I think...

[2020-03-24 19:31] bgruening commented on #21
Very true! Thanks.

[2020-03-24 19:31] #21 closed

[2020-03-27 12:07] saramonzon commented on #49
Hi! I was just stopping by to say this, and you already did! Indels should be called, as we have observed  a bunch of them in covid19 data. Moreover they are indels that conserve the open reading frame, only deleting with aa, which makes it a most probably functional variant.

Also I think you don't filter host reads in the variant pipeline, but I'm not sure if you do it in the assembly. We have o

[2020-04-01 14:25] bedroesb commented on #66
The documentation concerning this is updated https://covid19.galaxyproject.org/genomics/deploy/#docker, so I think this issue can be closed.

[2020-04-01 17:55] #66 closed

[2020-04-02 14:36] fbacall opened #105 "License"
Is there a license that governs the use/distribution of these workflows?

[2020-04-02 20:45] dannon commented on #105
Thanks for pointing this out @fbacall.  We've added a license, here: https://github.com/galaxyproject/SARS-CoV-2/pull/106/files

[2020-04-03 08:09] #105 closed

[2020-04-13 18:43] ambarishK opened #117 "Error while running Unicycler."
I am getting error while running Unicycler.

[code]
How to resolve it?

[2020-04-13 19:00] bgruening commented on #117
This is the error. You have not provided clean paried-reads. Maybe they are corrupted or you have filtered them wrongly ...

[2020-04-13 19:17] ambarishK commented on #117
Let me check.

[2020-04-15 02:31] ambarishK commented on #117
Resolved.

[2020-04-15 02:31] #117 closed

[2020-04-15 02:33] ambarishK opened #121 "Error while running gffread."
I am getting an error while running gffread.

[code]

[2020-04-16 00:49] ambarishK commented on #121
I normalized fasta file which solve above error.

Now I am getting 0 byte output while running gffread on merged gtf.

[code]

[2020-04-16 06:53] ambarishK opened #123 "Setting Unicycler parameters for workflow."
Sir, I am forming workflow using Unicycler. I have to set two parameters **--min_fasta_length** and
**--linear_seqs** as 10000 and 1 respectively. I have set it while workflow formation and save it to use both the parameters for the next time. Each time **it ask to set the parameters at run time rather using them as hardcoded values.**

[2020-04-16 07:41] bgruening commented on #121
@ambarishK this is not an error. Can you share your history?

[2020-04-16 10:18] ambarishK commented on #121
Sir, this is the accessible link to my history - https://usegalaxy.eu/u/ambarishk/h/de-novo

[2020-04-16 11:05] bgruening commented on #121
@ambarishK take off the "fasta file with spliced CDS for each GFF transcript (-x cds.fa)" "protein fasta file with the translation of CDS for each record (-y pep.fa)" ... you don't have CDS records.

Then it will work.

[2020-04-16 14:49] ambarishK commented on #121
Thank you so much sir. It worked.

Now I am moving for abundance estimation of gene expression.

I am trying to quantify them using align and estimate abundance method - a trinity tool. It askes for transcript to gene map file. I am generating gene to transcript map file using RSEM gene to transcript map tool. But quantification fails.

[2020-04-27 15:42] wm75 opened #129 "Source for number of variants and samples on main page"
Currently, the main page states this under Results for Genomics:

[code]

This leaves two questions:
1. when have these numbers been updated last (based on which samples)?
2. when is a variant considered a *fixed* difference?

When I analyzed https://covid19.galaxyproject.org/genomics/4-Variation/variant_list.tsv today, I got this for the filter condition `0.95 >= float(af) >= 0.05`:
Samples with

[2020-04-27 15:56] mvdbeek commented on #129
https://github.com/galaxyproject/SARS-CoV-2/commit/1d272c35e3eb8cfbc3c2415bffe3a26feaea4adc
27 days ago. We need to template this, it's clearly way more than 397

How'd you do this? I just downloaded the file and there are 1410 unique positions that fall into this criterium:

[code]
returns 1410. More if you also count by variant.

[2020-04-27 16:36] wm75 commented on #129
Ah, I pasted the same result snippet twice above, sorry!
The first result should have been:
Samples with variants: 334
Total number of variants observed: 1466
Number of sites observed to carry variants: 1424

[2020-04-27 16:38] wm75 commented on #129
... and if I go with the filter `0.95 > float(af) > 0.05` instead of my initial `>=`:
Samples with variants: 333
Total number of variants observed: 1452
Number of sites observed to carry variants: 1410

which seems to be what you obtained, right?

[2020-04-27 16:42] wm75 commented on #129
I used plain Python for this:
[code]

with, e.g.,:
`fun = lambda s, c, p, a, af: True if 0.95 > float(af) > 0.05 else False`

[2020-05-02 20:18] wm75 commented on #123
Are you still facing this issue, or did you manage to resolve it?

[2020-05-03 01:19] ambarishK commented on #123
Sir. each time while running the workflow I have to set both ones. What I wanted to fix or hard-code at the time of workflow formation. But it does not happens so.

Running it after setting both parameters at run time.

[2020-05-03 01:33] ambarishK commented on #123
One more error related DESeq2 is there. I am trying to get differential expression of genes across four SRR accessions. Lets say SRR1*****, SRR2*****, SRR3***** and SRR4*****.

But DESeq2 asks for replicates. I am passing on each SRR* feature count matrix as separate sample ( factor level ) but it does not works.

I am posting the error below.

[code]
This is my shared history

https://usegalaxy.e

[2020-05-04 11:18] wm75 commented on #123
So DESeq2 first: thing is it requires replicates as you found out already. If you don't have those, you cannot use DESeq2. Probably the best you could do is calculate some general descriptive stats across samples and genes and to look for clear outliers, i.e. do some exploratory analysis in an ipython notebook.

[2020-05-04 11:22] wm75 commented on #123
For the strange workflow parameter error:
- which browser are you doing this in (there maybe some subtle issues similar to what you are seeing with Microsoft browsers - both IE and Edge). Recommended browsers are Chrome/Chromium and Firefox. Safari and other webkit-based browsers should also work in general.
- when you save a workflow with those parameters configured correctly and you leave the wo

[2020-05-04 16:36] #121 closed

[2020-05-04 16:46] ambarishK commented on #123
I am using Crome. I saved the workflow with both the parameters. It works now.

Thank you so much.

For DESeq2, how to do analysis in ipython notebook.

[2020-05-05 08:25] pvanheus opened #141 "Consensus genome and variant calling from Illumina only"
Hi everyone

I have been working with the National Institute for Communicable Diseases (NICD) on some of their SARS-CoV-2 sequencing. I adapted the "variation" workflow to call variants in Illumina data and also produce an inferred consensus genome. The current "Assembly" workflow assumes that you have access to both Illumina and Nanopore genomes for a sample, which is a pretty rare situation. My

[2020-05-05 09:56] mvdbeek commented on #141
Can you make the consensus part of you workflow a separate workflow ? Might be interesting to compare this to the samples that also appear in GISAID. I think we can add this to our current workflow (which is a subworkflow with a parallelized variant of the download step, and then runs the SE and PE workflows --  https://usegalaxy.org/u/sars-cov2-bot/w/download-and-sepe-illumina-covid-variation-wor

[2020-05-05 17:07] pvanheus commented on #141
Hi @mvdbeek the only steps that are *not* involved in generating the consensus are the final "SnpSift Extract Fields" and "Collapse Collection" steps. Everything else goes into computing the consensus. So in the workflow you linked it would.

1) use the FASTA from Step 3: SnpEff build
2) use bedtools genomecov on Step 9: Realign reads
3) Filter to identify low coverage regions (low coverage should

[2020-05-05 17:14] pvanheus commented on #141
Commenting separately on the `ivar` / amplicon story. The majority of genomes out there are being generated using ARTIC amplicon protocol detailed [here](https://www.protocols.io/view/covid-19-artic-v3-illumina-library-construction-an-be3wjgpe) for Illumina and [here](https://artic.network/ncov-2019) for ONT. My focus is the Illumina version.

The BED file is the location of ARTIC primers (there a

[2020-05-19 07:33] tseemann commented on #49
@saramonzon do you have evidence for host reads (human) aligning to the SARS genome?
It could be possible with `bwa mem` default settings like minscore=30 but that should not be used here.

You can reduce soft clipping by changing the end-bonus settings, or as you say, using glocal alignment via `bowtie2 --end-to-end`

[2020-05-19 08:03] saramonzon commented on #49
Hi @tseemann, yes using bwa with default parameters we obtain a considerably percentage of reads mapping to both human and SARS-Cov-2 depending on the sample, we have fixed it as you said using bowtie2 with more specific parameters.

[2020-06-17 15:32] wm75 opened #177 "snpeff build issues with NC_045512.2 genbank record"
I noticed today (after a user complaint) that apparently version 4.3 of SnpEff, which is used in the Variation workflows, fails to parse the NC_045512.2 genbank file correctly at the snpeff build step.

This leads to:
1. missing annotations of effects on the mature peptides produced from the ORF1ab precursor
2. wrong reporting of the ORF1ab AA length as 7101 instead of 7096 in snpeff's EFF field
3

[2020-06-18 10:12] mvdbeek commented on #177
I'd go for option 4, that seem the most reasonable action at this point.

[2020-06-18 16:28] wm75 commented on #177
here's the corresponding PR to introduce a new, specialized SnpEff tool: https://github.com/galaxyproject/tools-iuc/pull/3089

[2020-06-18 19:55] bgruening commented on #177
Option 4 is merged and can be installed on usegalaxy.*

[2020-06-18 19:56] #177 closed

[2020-06-27 22:26] wm75 commented on #141
@pvanheus just updated the ARTIC WF in its dedicated section.
I've extended its core part somewhat, but discarded the consensus calling part to highlight the similarity to the regular variation WFs.
A separate WF showing consensus calling (not necessarily specific to ARTIC data) may still be good to have. We just need to decide on a section to add it to.

[2020-06-28 11:53] Slugger70 commented on #141
Hi @wm75, I took the output of zip collection to pass to the rest of the WF and also put a flatten collection between Qualimap BAMQC and MultiQC so multiqc only runs once.

[2020-06-28 12:00] wm75 commented on #141
@Slugger70 I think by passing a list:paired collection to bwa-mem, you may run into the same blocking WF scheduling issue that you're trying to avoid at the fastp step. At least that's my recollection.
Have you checked that this parallelizes correctly?

[2020-06-28 12:02] wm75 commented on #141
Thanks for spotting that MultiQC issue! I'll look into it for EU.

[2020-06-28 15:09] wm75 commented on #141
I've updated the EU WF with the Flatten Collection step of the Qualimap output just as you were doing it for AU. Thanks again @Slugger70!

[2020-07-07 00:00] reeshmabijosh opened #192 "Metadata Update"
Hello,
Your dataset was added to CoronaWhy (https://www.coronawhy.org/) Data Lake on Dataverse as a piece of common COVID-19 data https://datasets.coronawhy.org/dataset.xhtml?persistentId=doi:10.5072/FK2/ZNRXOE
Would you be willing to help with the maintenance of your dataset in Dataverse, e.g. adding the relevant metadata and keeping the dataset up-to-date? That will help to make the dataset find

[2020-08-14 04:49] PHemarajata opened #210 "ARTIC workflow error during Realigh Read with samtools"
Hi, I ran in the the error below while running the ARTIC workflow during Realign Reads step:

sort: unrecognized option '--no-PG'
Usage: samtools sort [options...] [in.bam]
Options:
  -l INT     Set compression level, from 0 (uncompressed) to 9 (best)
  -m INT     Set maximum memory per thread; suffix K/M/G recognized [768M]
  -n         Sort by read name
  -t TAG     Sort by value of TAG. Uses po

[2020-08-14 07:24] bgruening commented on #210
@PHemarajata can you share with us your history?

[2020-08-14 17:43] wm75 commented on #210
Maybe it was a bit optimistic to not have an explicit samtools version 1.10 requirement as part of https://github.com/galaxyproject/tools-iuc/pull/3077? The --no-PG option got added to samtools sort only at that version (1.9 and lower don't have it).
@PHemarajata which Galaxy server are you seeing this on (the tool is working fine on usegalaxy.org and usegalaxy.eu)?
@bgruening Could this have some

[2020-08-14 20:21] bgruening commented on #210
I don't think so. But wherever this workflow is running we should check the samtools version.

[2020-08-16 03:02] PHemarajata commented on #210
I am running the workflow on my local Galaxy server. Since you guys were talking about versions, I tried changing the lofreq (for the Call Variants step) and lofreq viterbi (for the Realign Reads step) versions used in the workflow from 2.1.5 to 2.1.3.1 and the workflow was able to run to completion. I am so glad it worked. Thank you everyone for such a great tool.

[2020-09-08 06:19] PHemarajata opened #226 "MultiQC does not accept genome results produced by QualiMap BamQC"
At the very last step of the workflow, I encounter this error:

[code]

I looked at the data and it did not have the  'Stats for BAM file(s)'  line that seemed to be required by MultiQC. Tried to change tool versions but ended up the same way. Any advice would be much appreciated! BTW, I am using Galaxy Version 20.05.

[2020-09-08 06:54] PHemarajata commented on #226
I think I figured it out. The version of MultiQC imported with Ephemeris was 1.7.1, which does not support Qualimap BamQC. This resulted in the tool defaulting the third input to bamtools instead of Qualimap BamQC. Once I updated MultiQC to 1.8+galaxy0 and changed the third input to Qualimap BamQC, I was able to run the workflow to completion.

[2020-09-18 15:45] PHemarajata opened #232 "vcf-vcf intersect error"
Hi, I ran into this error during the ARTIC workflow:

index file localref.fa.fai not found, generating...
/Users/peerahemarajata/galaxy/database/jobs_directory/000/137/tool_script.sh: line 25: 48088 Segmentation fault: 11  vcfintersect -v -r 'localref.fa' -w "0" -i '/Users/peerahemarajata/galaxy/database/objects/4/9/1/dataset_491da1b9-10f9-42a5-8d32-75c302cb6dc1.dat' '/Users/peerahemarajata/galaxy

[2020-09-18 15:56] wm75 commented on #232
The indexing should be done automatically for you. What's the source of your fasta file? Can you run NormalizeFasta from the Picard package over it?

[2020-09-18 17:56] PHemarajata commented on #232
Did you mean to use the NormalizeFasta tool to process the FASTA to use as the initial input for the workflow? I can try that.

My FASTA was the one I downloaded from NCBI.

[2020-09-18 19:05] PHemarajata commented on #232
Used FASTA processed with NormalizeFasta as input for the workflow (LINE_LENGTH; default=100, TRUNCATE_SEQUENCE_NAMES_AT_WHITESPACE; default=False) and still the same error.....

index file localref.fa.fai not found, generating...
/Users/peerahemarajata/galaxy/database/jobs_directory/000/157/tool_script.sh: line 25: 50386 Segmentation fault: 11  vcfintersect -v -r 'localref.fa' -w "0" -i '/Users/p

[2020-09-18 20:13] PHemarajata commented on #232
BTW I am running this workflow on a local Galaxy instance on MacOS Catalina.

[2020-09-19 03:33] #226 closed

[2020-09-19 03:34] #210 closed

[2020-09-19 03:53] PHemarajata commented on #232
I have come to a conclusion that this is a MacOS problem, since there was absolutely no issue when I had the workflow running on a Galaxy instance on a native Ubuntu or the official Docker container which is Ubuntu. I had to switch to trying Galaxy on a MacOS since my new MB Pro does not play well with Ubuntu. Is there a way to make this work with Mac? Maybe I should be asking this on the Galaxy g

[2021-06-27 17:10] flodebarre opened #291 "SRR11313490 and SRR11313499"
Hi,
You may have seen Jesse Bloom's [recent preprint](https://www.biorxiv.org/content/10.1101/2021.06.18.449051v1) on the recovery of deleted SRA files. @jbloom managed to recoved most of the data from Google Cloud, except for two, SRR11313490 and SRR11313499. I Googled these IDs, and found a [dead link](https://github.com/galaxyproject/SARS-CoV-2/blob/master/genomics/4-Variation/sra.txt) to your

[2021-06-27 17:11] mvdbeek commented on #291
We may have, I'll take a look.

[2021-06-27 17:18] mvdbeek commented on #291
Unfortunately that's a GridION accession, we only downloaded the Illumina accessions at this point. I will check if we have any trace of this anyway, but I'm not hopeful :(.

[2021-06-27 17:27] flodebarre commented on #291
🤞In case this may help, the IDs also appear [here](https://usegalaxy.eu/datasets/11ac94870d0bb33aae5314cb4e400cee/display/?preview=True).

[2021-06-27 17:31] mvdbeek commented on #291
@bgruening can you take a look if you have the accession on .eu ?
I haven't found a collection element with those identifiers, checking HDAs now.
I've used `select * from dataset_collection_element where element_identifier = 'SRR11313490';` and `select * from history_dataset_association where name = 'SRR11313490';`.

@flodebarre I suppose at this point you've contacted the SRA, but just in case yo

[2021-06-27 17:47] flodebarre commented on #291
@mvdbeek I have not, but I understand that @jbloom [has](https://twitter.com/jbloom_lab/status/1407558426939387906?s=20).

I have a related question---let me know if it is best to open another issue for it.
Jesse Bloom found out about the missing files because there was a way to learn that they ever existed (namely, a supplementary table in [this paper](https://peerj.com/articles/9255/)). I see th

[2021-06-27 17:49] mvdbeek commented on #291
We can go through commit-by-commit and build a set of ids, that should be possible.

[2021-06-27 18:04] mvdbeek commented on #291
It also turns out that the dataset you referenced is from the
sars-cov-2-bot account we created for this project. The history is public
(that's why you found it), but I'm traveling now and internet is spotty.
Should have some more info for you later, but it looks like the download
for this dataset failed (like most jobs in that history).

On Sun, Jun 27, 2021, 19:48 flodebarre ***@***.***> wrote:

[2021-06-27 18:06] jbloom commented on #291
@flodebarre, I was actually able to find the two missing accessions thanks to some helpful pointers after publication of the initial pre-print. Those accessions are available as described [here](https://github.com/jbloom/SARS-CoV-2_PRJNA612766/blob/trim_primer_overlaps/config.yaml#L154-L165).

However, these two accessions provide minimal additional information. Both are from low coverage samples,

[2021-06-27 19:38] mvdbeek commented on #291
Here's a quick and dirty list of all accessions we've checked into git: https://gist.github.com/mvdbeek/a6add8ede9b349b0d9a47d66460400ba

[2021-06-27 20:11] mvdbeek commented on #291
Here's a list of 6798 accessions that were checked in at one point or another to this repository and that are not anymore in the current metadata of the ENA: https://gist.github.com/mvdbeek/a9891f906489596064ae490793d9c19c

271 of those accessions were SRA accessions.

The current metadata from the ENA I fetched via ```curl -X POST -H "Content-Type: application/x-www-form-urlencoded" -d 'result=re

[2021-06-27 20:24] jbloom commented on #291
I'm not able to easily assess if any of these are of interest, but if you still have FASTQs (or SRA files or something else) for any of them, I can try aligning them to look. I have a pipeline to do this. Easiest is if there is just a CSV of the accession and then the http or ftp path where the file(s) lives, but if it isn't possible to get that then we can look at other ways to process them.

[2021-06-27 21:09] bgruening commented on #291
@jbloom @flodebarre I have both files (SRR11313490 and SRR11313499).

[SRR11313499.fastq.gz](https://github.com/galaxyproject/SARS-CoV-2/files/6722313/SRR11313499.fastq.gz)
[SRR11313490.fastq.gz](https://github.com/galaxyproject/SARS-CoV-2/files/6722314/SRR11313490.fastq.gz)

[2021-06-27 21:09] bgruening commented on #291
Let me know if you need more, we have a few more of them ;)

[2021-06-27 22:01] bgruening commented on #291
I'm currently assembly a huge data drop from all accessions that @mvdbeek found. Where can store the data - its huge?

[2021-06-27 22:46] bgruening commented on #291
Ok, real quick I could find ~3000 files. I know we have more, but this takes more time. You will find those files here ( ftp://xfer13.crg.eu/missing.tar ) its about 62 GB data. Please let me know when you have it and if I can delete them from the FTP. Please also know if its worth to spend a few hours on the other IDs. As we have a backup of more IDs we should be able to find them.

(its still cop

[2021-06-28 04:31] jbloom commented on #291
Thanks @bgruening. I just started copying these over from the FTP site.

If you happen to have more too, I can also align and analyze those of course.

[2021-06-28 07:28] flodebarre commented on #291
Hi there, My aim when opening this issue was to help @jbloom (and others!) access more datasets if there are any.
@bgruening @mvdbeek : thanks so much for your fantastic responsiveness and helpfulness -- you are amazing.

[2021-06-28 08:42] bgruening commented on #291
@jbloom we should have essentially nearly all. Its just a matter of time, and time is limited as have our annual community conference starting today. Let me know if we can help further.

[2021-06-28 13:53] jbloom commented on #291
@bgruening, I downloaded the TAR that you provided at `ftp://xfer13.crg.eu/missing.tar`. I got a total of 2013 files, the size of the TAR is 43G, and when unpacking after the 2013 files I got the error:
[code]

So this makes me wonder if your process that was creating the TAR did not go to completion, since you indicated it should have ~3,000 files and be about ~62G?

In any case, let me know if y

[2021-06-29 09:32] bgruening commented on #291
@jbloom please try again. The upload probably failed at some point.

@jbloom we have TBs of data, if you have some IDs we can look them up, otherwise we need to different way to transfer data :)

[2021-06-30 13:35] jbloom commented on #291
@bgruening, I was able to download the full TAR that you posted at  `ftp://xfer13.crg.eu/missing.tar`. Feel free to delete this file.

I would be interested in basically analyzed any accession that isn't in SRA, ENA, etc but is on Galaxy. If you send me a list of all accessions (ideally including CRR as well as SRR and ERR) on Galaxy, I could determine this list.

Alternatively, if it's easier for

[2021-07-01 20:40] bgruening commented on #291
Please see my mail .. I guess we can do the rest via mail. Thanks for opening the issue @flodebarre!

[2021-07-01 20:40] #291 closed

[2021-07-01 20:44] flodebarre commented on #291
Happy to have put you in touch :-)

[2021-07-05 12:23] simonbray opened #293 "Building website locally"
Is this possible, and if so can someone provide a short guide?

[2021-07-05 13:56] OlegZharkov commented on #293
hey @simonbray
It's
```yarn install```
```yarn develop```

[2021-07-05 13:56] OlegZharkov commented on #293
https://github.com/galaxyproject/SARS-CoV-2/blob/master/CONTRIBUTING.md

[2021-07-05 13:57] #293 closed

[2021-07-05 14:22] simonbray commented on #293
I should have seen that. Thanks a lot @OlegZharkov!

[2021-12-08 18:24] NickSto opened #299 "Wrong page included in /genomics/no-more-business-as-usual/"
The "Deploy" section of the [No more business as usual](https://covid19.galaxyproject.org/genomics/no-more-business-as-usual/#deploy) page repeats the same content as the "RecombinationSelection" section. Both [use a `<Content>` component](https://raw.githubusercontent.com/galaxyproject/SARS-CoV-2/master/genomics/no-more-business-as-usual/README.md) to include the page `/genomics/no-more-business-

[2022-01-14 08:42] yvanlebras opened #301 "Error 404 on https://usegalaxy.eu/u/wolfgang-maier/w/covid-19-variation-analysis-on-se-data links from https://covid19.galaxyproject.org/genomics/global_platform/#what-is-this page"
Hi Amazing Galaxy world ;)

And a good year !

Just find an hyperlink https://covid19.galaxyproject.org/genomics/global_platform/#what-is-this giving an "error 404" message on this webpage https://covid19.galaxyproject.org/genomics/global_platform/#what-is-this in table 1 / Workflow / EU (from the first line) and it seems this is the same for all EU workflows (at least on this table).

Maybe:
- SE